@import "tailwindcss";




.cluster-wrapper {
  background: transparent !important;
  border: none !important;
}


.cluster-circle {
  width: 40px;
  height: 40px;
  background-color: #2563eb; 
  border: 3px solid white;
  border-radius: 50%; 
  color: white;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
  animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cluster-circle:hover {
  background-color: #1d4ed8;
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes popIn {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}